# บังคับ Lead ตรวจตามโฟลเดอร์
/apps/frontend/        @DisisSadoiEngJa @kpoon1234
/apps/backend/         @puntaut @kpoon1234
/prisma/               @puntaut @kpoon1234

# ไฟล์คอนฟิกร่วมที่ Root
/package.json          @kpoon1234